# IDE files
.idea/
*.iml
*.hprof

# Gradle files
.gradle/
build/
local.properties

# Android Studio files
captures/
.externalNativeBuild/

# Keystore files
*.jks
*.keystore

# Log files
*.log

# Other
.DS_Store
/misc.xml
/deployment.xml
/assetWizard/